.vscode/scripts/runtime/utils/nodered/flows.json
[{"id":"3a93bfa4.83653","type":"tab","label":"mqtt","disabled":false,"info":""},{"id":"26f5043e.5d8b8c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"155b6500.dae29b","type":"ui_tab","name":"Driver Profile","icon":"dashboard","disabled":false,"hidden":false},{"id":"2e4b5aa8.f5e826","type":"ui_group","name":"Basic","tab":"155b6500.dae29b","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"412ed4b3.5566bc","type":"ui_group","name":"Grafik","tab":"155b6500.dae29b","order":3,"disp":false,"width":"12","collapse":false},{"id":"56d91f08.d6aac","type":"ui_group","name":"Info percent","tab":"155b6500.dae29b","order":2,"disp":true,"width":"6","collapse":false},{"id":"f1cca47de55b16e5","type":"mqtt-broker","name":"vss","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"430c2caac6c79cb3","type":"ui_group","name":"buttons","tab":"155b6500.dae29b","order":4,"disp":false,"width":"12","collapse":false,"className":""},{"id":"6250dbae.d68ce4","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/Speed","qos":"2","datatype":"auto","broker":"","nl":false,"rap":false,"inputs":0,"x":190,"y":220,"wires":[["e133e074.983e08"]]},{"id":"705f5e32.c7f1d","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/FuelLevel","qos":"2","datatype":"auto","broker":"","nl":false,"rap":false,"inputs":0,"x":210,"y":520,"wires":[["7088d1ce.faa8c"]]},{"id":"1883106d.e2a2f","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/TravelledDistance","qos":"2","datatype":"auto","broker":"","inputs":0,"x":200,"y":360,"wires":[["8f23fa67.825238"]]},{"id":"47532736.a366d","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/OilTemperature","qos":"2","datatype":"auto","broker":"","inputs":0,"x":210,"y":720,"wires":[["9625a6d6.041a4"]]},{"id":"e45cc990.68b918","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/DriveTime","qos":"2","datatype":"auto","broker":"","inputs":0,"x":200,"y":280,"wires":[["b7a8b819.7d1668"]]},{"id":"fc86d921.34d488","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/IsMoving","qos":"2","datatype":"auto","broker":"","inputs":0,"x":210,"y":420,"wires":[["355c5cb0.635ab4"]]},{"id":"355c5cb0.635ab4","type":"function","z":"3a93bfa4.83653","name":"","func":"msg.color = (JSON.parse(msg.payload.toLowerCase()))?\"green\":\"red\"\nmsg.payload = msg.color\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":440,"wires":[["4e9f2749.c3cb8"]]},{"id":"3849baf5.5e2996","type":"function","z":"3a93bfa4.83653","name":"parse lat","func":"flow.set(\"lat\", msg.payload);\nreturn {\n  payload: {\n    lat: msg.payload,\n    name: \"kuksa\",\n    popped: false\n  }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":580,"wires":[["e3c3c94c.8c47b8"]]},{"id":"f709dadb.a32ff8","type":"function","z":"3a93bfa4.83653","name":"parse lon","func":"flow.set(\"lon\", msg.payload);\nreturn {\n  payload: {\n    lon: msg.payload,\n    name: \"kuksa\",\n    popped: false\n  }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":660,"wires":[["e3c3c94c.8c47b8"]]},{"id":"403a873a.53b7b","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/Cabin/Infotainment/Navigation/CurrentLocation/Longitude","qos":"2","datatype":"auto","broker":"","inputs":0,"x":320,"y":660,"wires":[["f709dadb.a32ff8"]]},{"id":"1c3e3e3c.533702","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/Cabin/Infotainment/Navigation/CurrentLocation/Latitude","qos":"2","datatype":"auto","broker":"","nl":false,"rap":false,"inputs":0,"x":340,"y":600,"wires":[["3849baf5.5e2996"]]},{"id":"10b25507.c97d4b","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/Cabin/Infotainment/Navigation/CurrentLocation/Speed","qos":"2","datatype":"auto","broker":"","inputs":0,"x":950,"y":180,"wires":[["fd7611a7.39db3"]]},{"id":"97ef7d0d.9d59","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/IntakeTemp","qos":"2","datatype":"auto","broker":"","inputs":0,"x":200,"y":780,"wires":[["9625a6d6.041a4"]]},{"id":"9080cfad.0490d","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/CoolantTemperature","qos":"2","datatype":"auto","broker":"","inputs":0,"x":190,"y":840,"wires":[["9625a6d6.041a4"]]},{"id":"6ec2e636.9b5b1","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/AmbientAirTemperature","qos":"2","datatype":"auto","broker":"","inputs":0,"x":200,"y":900,"wires":[["9625a6d6.041a4"]]},{"id":"7e33573.08b3fa8","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/DistanceSinceDTCClear","qos":"2","datatype":"auto","broker":"","inputs":0,"x":900,"y":360,"wires":[["b8e0d9bd.4f8608"]]},{"id":"8bf63161.d34e2","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/EngineLoad","qos":"2","datatype":"auto","broker":"","inputs":0,"x":1160,"y":500,"wires":[["ae6163ec.1e815"]]},{"id":"c76eaa24.c2ee58","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/AbsoluteLoad","qos":"2","datatype":"auto","broker":"","inputs":0,"x":1070,"y":440,"wires":[["52b4551a.083b34"]]},{"id":"98d5167b.09d1a8","type":"mqtt in","z":"3a93bfa4.83653","name":"","topic":"vss/Vehicle/OBD/ThrottlePosition","qos":"2","datatype":"auto","broker":"","inputs":0,"x":1210,"y":680,"wires":[["3fa11e8d.6744f2"]]},{"id":"8f23fa67.825238","type":"ui_text","z":"3a93bfa4.83653","d":true,"group":"2e4b5aa8.f5e826","order":1,"width":0,"height":0,"name":"","label":"Travelled Distance","format":"{{msg.payload}} km","layout":"row-spread","className":"","x":570,"y":360,"wires":[]},{"id":"b7a8b819.7d1668","type":"ui_text","z":"3a93bfa4.83653","d":true,"group":"2e4b5aa8.f5e826","order":3,"width":0,"height":0,"name":"","label":"Drive time","format":"{{msg.payload}} s","layout":"row-spread","className":"","x":600,"y":260,"wires":[]},{"id":"b8e0d9bd.4f8608","type":"ui_text","z":"3a93bfa4.83653","d":true,"group":"2e4b5aa8.f5e826","order":1,"width":0,"height":0,"name":"","label":"Distance Since DTC Clear","format":"{{msg.payload}} km","layout":"row-spread","className":"","x":1270,"y":360,"wires":[]},{"id":"e133e074.983e08","type":"ui_gauge","z":"3a93bfa4.83653","d":true,"name":"","group":"2e4b5aa8.f5e826","order":12,"width":0,"height":0,"gtype":"gage","title":"Speed","label":"km/h","format":"{{value}}","min":"-250","max":"250","colors":["#216cc6","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":610,"y":180,"wires":[]},{"id":"7088d1ce.faa8c","type":"ui_gauge","z":"3a93bfa4.83653","d":true,"name":"","group":"2e4b5aa8.f5e826","order":8,"width":0,"height":0,"gtype":"wave","title":"Fuel Level","label":" %","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":650,"y":520,"wires":[]},{"id":"fd7611a7.39db3","type":"ui_gauge","z":"3a93bfa4.83653","d":true,"name":"","group":"2e4b5aa8.f5e826","order":12,"width":0,"height":0,"gtype":"gage","title":"GPS Speed","label":"km/h","format":"{{value}}","min":"-250","max":"250","colors":["#216cc6","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1370,"y":200,"wires":[]},{"id":"ae6163ec.1e815","type":"ui_gauge","z":"3a93bfa4.83653","d":true,"name":"","group":"56d91f08.d6aac","order":2,"width":0,"height":0,"gtype":"wave","title":"Engine Load","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1570,"y":500,"wires":[]},{"id":"52b4551a.083b34","type":"ui_gauge","z":"3a93bfa4.83653","d":true,"name":"","group":"56d91f08.d6aac","order":3,"width":0,"height":0,"gtype":"wave","title":"Absolute Load","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1480,"y":440,"wires":[]},{"id":"3fa11e8d.6744f2","type":"ui_gauge","z":"3a93bfa4.83653","d":true,"name":"","group":"56d91f08.d6aac","order":4,"width":0,"height":0,"gtype":"wave","title":"Throttle Position","label":"percent","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1620,"y":680,"wires":[]},{"id":"4e9f2749.c3cb8","type":"ui_template","z":"3a93bfa4.83653","d":true,"group":"2e4b5aa8.f5e826","name":"Moving","order":5,"width":0,"height":0,"format":"<p class=\"label ng-binding\">Moving\n<svg  width=32px height=32px style=\"margin-left: 200px;\">\n    <circle id=\"circle1\" cx=\"20\" cy=\"20\" r=\"10\" stroke={{msg.color}} fill=\"transparent\" stroke-width=\"5\"/>\n</svg>\n</p>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":640,"y":440,"wires":[[]]},{"id":"9625a6d6.041a4","type":"ui_chart","z":"3a93bfa4.83653","d":true,"name":"","group":"412ed4b3.5566bc","order":1,"width":0,"height":0,"label":"Oil Temperature","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"celsius","dot":true,"ymin":"-20","ymax":"200","removeOlder":1,"removeOlderPoints":"50","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#5aa0d0","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":720,"y":840,"wires":[[]]},{"id":"e3c3c94c.8c47b8","type":"ui_worldmap","z":"3a93bfa4.83653","d":true,"group":"412ed4b3.5566bc","order":2,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1020,"y":620,"wires":[]},{"id":"f231fe1cf28ce2cd","type":"mqtt in","z":"3a93bfa4.83653","name":"Seat Position","topic":"seatadjuster/currentPosition","qos":"2","datatype":"auto","broker":"f1cca47de55b16e5","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":1140,"wires":[["c86e0e379d972827","35008420a3b18321"]]},{"id":"9724b04e16083ff7","type":"mqtt out","z":"3a93bfa4.83653","name":"","topic":"seatadjuster/setPosition/request","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f1cca47de55b16e5","x":250,"y":1240,"wires":[]},{"id":"bbf4565669097435","type":"ui_button","z":"3a93bfa4.83653","name":"Adjust seat","group":"430c2caac6c79cb3","order":3,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"position\":99,\"requestId\":\"xzy\"}","payloadType":"str","topic":"seatadjuster/setPosition/request","topicType":"msg","x":750,"y":1320,"wires":[[]]},{"id":"a61727990c0a1398","type":"ui_text_input","z":"3a93bfa4.83653","name":"Seat position request","label":"Seat position request","tooltip":"","group":"2e4b5aa8.f5e826","order":7,"width":"6","height":"4","passthru":true,"mode":"text","delay":"0","topic":"seatadjuster/setPosition/request","sendOnBlur":true,"className":"","topicType":"msg","x":720,"y":1440,"wires":[["9724b04e16083ff7"]]},{"id":"f1d3ee9c885f9737","type":"ui_text","z":"3a93bfa4.83653","group":"412ed4b3.5566bc","order":3,"width":"12","height":"7","name":"seat position change response","label":"seat position change response","format":"{{msg.payload}}","layout":"row-spread","className":"","x":750,"y":1080,"wires":[]},{"id":"0da076f5adb9f5ee","type":"mqtt in","z":"3a93bfa4.83653","name":"Seat Position change response","topic":"seatadjuster/setPosition/response","qos":"2","datatype":"auto","broker":"f1cca47de55b16e5","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":1080,"wires":[["f1d3ee9c885f9737"]]},{"id":"d442d0c08767ebda","type":"ui_switch","z":"3a93bfa4.83653","name":"Light_animation","label":"Light_animation","tooltip":"","group":"2e4b5aa8.f5e826","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":740,"y":1540,"wires":[[]]},{"id":"c86e0e379d972827","type":"ui_text","z":"3a93bfa4.83653","group":"412ed4b3.5566bc","order":3,"width":"12","height":"3","name":"seat position","label":"seat position","format":"{{msg.payload.data}}","layout":"row-spread","className":"","x":690,"y":1140,"wires":[]},{"id":"35008420a3b18321","type":"ui_gauge","z":"3a93bfa4.83653","name":"","group":"412ed4b3.5566bc","order":9,"width":0,"height":0,"gtype":"gage","title":"Seat position","label":"units","format":"{{msg.payload.value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":710,"y":1200,"wires":[]}]