app/src/node-red/node-red-flow-BCX22SDV-Team-DeepPurple.json
[{"id":"3a93bfa4.83653","type":"tab","label":"mqtt","disabled":false,"info":""},{"id":"f231fe1cf28ce2cd","type":"mqtt in","z":"3a93bfa4.83653","name":"Seat Position","topic":"seatadjuster/currentPosition","qos":"2","datatype":"auto","broker":"f1cca47de55b16e5","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":140,"wires":[["c86e0e379d972827","35008420a3b18321"]]},{"id":"9724b04e16083ff7","type":"mqtt out","z":"3a93bfa4.83653","name":"","topic":"seatadjuster/setPosition/request","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f1cca47de55b16e5","x":230,"y":240,"wires":[]},{"id":"0da076f5adb9f5ee","type":"mqtt in","z":"3a93bfa4.83653","name":"Seat Position change response","topic":"seatadjuster/setPosition/response","qos":"2","datatype":"auto","broker":"f1cca47de55b16e5","nl":false,"rap":true,"rh":0,"inputs":0,"x":210,"y":80,"wires":[["f1d3ee9c885f9737"]]},{"id":"d442d0c08767ebda","type":"ui_switch","z":"3a93bfa4.83653","name":"Light_animation","label":"Light_animation","tooltip":"","group":"2e4b5aa8.f5e826","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":720,"y":540,"wires":[[]]},{"id":"a61727990c0a1398","type":"ui_text_input","z":"3a93bfa4.83653","name":"Seat position request","label":"Seat position request","tooltip":"","group":"2e4b5aa8.f5e826","order":7,"width":"6","height":"4","passthru":true,"mode":"text","delay":"0","topic":"seatadjuster/setPosition/request","sendOnBlur":true,"className":"","topicType":"msg","x":700,"y":440,"wires":[["9724b04e16083ff7"]]},{"id":"f1d3ee9c885f9737","type":"ui_text","z":"3a93bfa4.83653","group":"412ed4b3.5566bc","order":3,"width":"12","height":"7","name":"seat position change response","label":"seat position change response","format":"{{msg.payload}}","layout":"row-spread","className":"","x":730,"y":80,"wires":[]},{"id":"c86e0e379d972827","type":"ui_text","z":"3a93bfa4.83653","group":"412ed4b3.5566bc","order":3,"width":"12","height":"3","name":"seat position","label":"seat position","format":"{{msg.payload.data}}","layout":"row-spread","className":"","x":670,"y":140,"wires":[]},{"id":"35008420a3b18321","type":"ui_gauge","z":"3a93bfa4.83653","name":"","group":"412ed4b3.5566bc","order":9,"width":0,"height":0,"gtype":"gage","title":"Seat position","label":"units","format":"{{msg.payload.value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690,"y":200,"wires":[]},{"id":"bbf4565669097435","type":"ui_button","z":"3a93bfa4.83653","name":"Adjust seat","group":"430c2caac6c79cb3","order":3,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"position\":99,\"requestId\":\"xzy\"}","payloadType":"str","topic":"seatadjuster/setPosition/request","topicType":"msg","x":730,"y":320,"wires":[[]]},{"id":"f1cca47de55b16e5","type":"mqtt-broker","name":"vss","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"2e4b5aa8.f5e826","type":"ui_group","name":"Basic","tab":"155b6500.dae29b","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"412ed4b3.5566bc","type":"ui_group","name":"Grafik","tab":"155b6500.dae29b","order":3,"disp":false,"width":"12","collapse":false},{"id":"430c2caac6c79cb3","type":"ui_group","name":"buttons","tab":"155b6500.dae29b","order":4,"disp":false,"width":"12","collapse":false,"className":""},{"id":"155b6500.dae29b","type":"ui_tab","name":"Driver Profile","icon":"dashboard","disabled":false,"hidden":false}]