app/src/node-red/node-red-flow-BCX22SDV-Team-DeepPurple.json
[
    {
        "id": "738f692a5107f5eb",
        "type": "tab",
        "label": "BCX22SDV Hackchallenge 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2dfde80f44afd66",
        "type": "mqtt-broker",
        "name": "mqtt-10.52.204.72",
        "broker": "10.52.204.72",
        "port": "31883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8787d3427c2c46ef",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e8d8423da8334d40",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "BCX22SDV Deep Purple Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9357b637aa2b57f1",
        "type": "ui_group",
        "name": "BCX22SDV Team Deep Purple - Driver Selection",
        "tab": "8787d3427c2c46ef",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "670d57a63ae2922f",
        "type": "comment",
        "z": "738f692a5107f5eb",
        "name": "Driver A",
        "info": "Select driver setting A",
        "x": 170,
        "y": 100,
        "wires": []
    },
    {
        "id": "41def383c624d0dd",
        "type": "mqtt out",
        "z": "738f692a5107f5eb",
        "name": "",
        "topic": "deeppurple/setDriver",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2dfde80f44afd66",
        "x": 1060,
        "y": 100,
        "wires": []
    },
    {
        "id": "3c303b166d778f85",
        "type": "comment",
        "z": "738f692a5107f5eb",
        "name": "Driver B",
        "info": "Select driver setting B",
        "x": 170,
        "y": 180,
        "wires": []
    },
    {
        "id": "889a35b179857909",
        "type": "mqtt out",
        "z": "738f692a5107f5eb",
        "name": "",
        "topic": "deeppurple/setDriver",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d2dfde80f44afd66",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "78a32456429a467d",
        "type": "inject",
        "z": "738f692a5107f5eb",
        "d": true,
        "name": "Select Driver A",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"driverId\":\"driverA\",\"requestId\":1,\"preferredPosition\":100}",
        "payloadType": "json",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "41def383c624d0dd"
            ]
        ]
    },
    {
        "id": "2e86029ae9b5404c",
        "type": "mqtt in",
        "z": "738f692a5107f5eb",
        "name": "",
        "topic": "/driver-id",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d2dfde80f44afd66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3b2b386ad8683406",
        "type": "debug",
        "z": "738f692a5107f5eb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 380,
        "wires": []
    },
    {
        "id": "aa093957ad7c0ee5",
        "type": "ui_button",
        "z": "738f692a5107f5eb",
        "name": "",
        "group": "9357b637aa2b57f1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Driver A",
        "tooltip": "Select Driver A",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"driverId\":\"DriverA\",\"requestId\":1,\"preferredPosition\":100}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "41def383c624d0dd"
            ]
        ]
    },
    {
        "id": "eb61b79050cc4ad7",
        "type": "ui_button",
        "z": "738f692a5107f5eb",
        "name": "",
        "group": "9357b637aa2b57f1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Driver B",
        "tooltip": "Activate Driver B ",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"driverId\":\"DriverB\",\"requestId\":1,\"preferredPosition\":500}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "889a35b179857909"
            ]
        ]
    },
    {
        "id": "4aecd332bd6c5533",
        "type": "ui_text",
        "z": "738f692a5107f5eb",
        "group": "9357b637aa2b57f1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Driver: ",
        "format": "{{msg.payload.driverId}}",
        "layout": "row-center",
        "className": "",
        "x": 1000,
        "y": 500,
        "wires": []
    },
    {
        "id": "81c942d14cc46dde",
        "type": "inject",
        "z": "738f692a5107f5eb",
        "d": true,
        "name": "Select Driver B",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"driverId\":\"driverB\",\"requestId\":1,\"preferredPosition\":500}",
        "payloadType": "json",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "889a35b179857909"
            ]
        ]
    },
    {
        "id": "168e3a463c2b7d55",
        "type": "json",
        "z": "738f692a5107f5eb",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "4aecd332bd6c5533",
                "3b2b386ad8683406"
            ]
        ]
    },
    {
        "id": "92255920b8913a8b",
        "type": "mqtt in",
        "z": "738f692a5107f5eb",
        "name": "",
        "topic": "deeppurple/setDriver/response",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d2dfde80f44afd66",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 440,
        "wires": [
            [
                "3b2b386ad8683406",
                "168e3a463c2b7d55"
            ]
        ]
    }
]